* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container {
    width: 150px;
    height: 150px;
    position: relative;
}

.container > .box {
    width: 50px;
    height: 50px;
    background-color: #735d00;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > .box-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.container > .box-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.container > .box-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > .box-4 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.container > .box-5 {
    position: absolute;
    bottom: 0;
    left: 0;
}