* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  background: rgba(32, 35, 42, 1);
  color: #fff;
}

footer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.list {
    width: fit-content;
    height: auto;
    font-size: 18px;
}

.list__title {
    font-size: 2em;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1em;
}

.list > ul > li {
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0.5em;
}