* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}

@media (min-width: 768px) {
  .App {
    flex-direction: row;
    width: 70%;
    margin: 4rem auto;
  }
}